{% extends 'base.html' %}



{% block title %}Profile{% endblock %}



{% block header %}
<nav class="container mx-auto p-4 md:p-2 lg:p-2 flex justify-between items-center bg-gray-200 rounded-full">
    <a href="{% url 'dashboard:dashboard' %}" class=" text-gray-600 hover:text-gray-900 transition duration-300 ease-in-out">
        <i class="fas fa-tachometer-alt mr-2"></i> Dashboard
    </a>
    |
    <a href="{% url 'dashboard:insights' %}" class="text-gray-600 hover:text-gray-900 transition duration-300 ease-in-out">
        <i class="fas fa-chart-line mr-2"></i> Insights
    </a>
    |
    <a href="{% url 'item:new' %}" class="text-gray-600 hover:text-gray-900 transition duration-300 ease-in-out">
        <i class="fas fa-plus-circle mr-2"></i> Post
    </a>
    |
    <a href="#" class="text-gray-600 hover:text-gray-900 transition duration-300 ease-in-out">
        <i class="fas fa-bell mr-2"></i> Notifications
    </a>
    |
    <a href="{% url 'dashboard:inbox' %}" class="text-gray-600 hover:text-gray-900 transition duration-300 ease-in-out">
        <i class="fas fa-inbox mr-2"></i> Inbox
    </a>
</nav>


<body>
    <div>
        {% block body %}
        {% endblock %}
    </div>

    <script>
        const select = document.querySelector('#action-select');
        const colorDiv = document.createElement('div');
        colorDiv.classList.add('inline-block', 'w-5', 'h-5', 'ml-2', 'rounded-full');
        select.addEventListener('change', () => {
            const selectedOption = select.options[select.selectedIndex];
            colorDiv.style.backgroundColor = selectedOption.style.backgroundColor;
        });
        select.after(colorDiv);
    </script>

</body>
{% endblock %}