{% extends 'filters.html' %}

{% block title %} Welcome {% endblock %}

{% block content %}
<div class="max-w-screen-xl p-5 mx-auto dark:text-gray-100 bg-">
    <h1 class="text-2xl text-center px-4 py-6 underline text-green-500">Explore Offers!</h1>
	<div class="grid grid-cols-2 gap-4">
		<!-- Items will be dynamically generated here -->
		{% for item in items %}
		<div class="max-w-sm mb-4 overflow-hidden rounded-lg shadow-md dark:bg-gray-800">
		  <a href="{% url 'item:detail' item.id %}">
			{% if item.images %}
        <img src="{{ item.images.url }}" alt="item" class="w-full h-48 object-cover rounded-t-lg">
		{% endif %}
			<div class="px-4 py-2">
			  <div class="flex justify-between mb-2">
				<h5 class="text-lg font-bold dark:text-white">{{ item.name }} | {{ item.published_by }}</h5>
				{% if item.is_new %}
				  <span class="bg-orange-500 text-white font-bold py-1 px-2 rounded-full text-xs">New</span>
				{% endif %}
				{% if item.is_hot %}
				  <span class="bg-red-500 text-white font-bold py-1 px-2 rounded-full text-xs">Hot</span>
				{% endif %}
			  </div>
			  <p class="text-gray-600 dark:text-gray-400">{{ item.destinations }}</p>
			  <div class="flex justify-between mb-2">
				<span class="text-gray-600 dark:text-gray-400">Start - {{ item.start_date }}</span>
				<span class="text-gray-600 dark:text-gray-400">End - {{ item.end_date }}</span>
			  </div>
			  <div class="flex justify-between mb-2">
				<span class="text-lg font-bold dark:text-white">{{ item.price }}$</span>
				<button class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded">
				  Book Now
				</button>
			  </div>
			  <div class="flex justify-between mb-2">
				<span class="text-gray-600 dark:text-gray-400">Rating: {{ item.rating }}%</span>
				<span class="text-gray-600 dark:text-gray-400">Reviews: {{ item.reviews_count }}</span>
			  </div>
			</div>
		  </a>
		</div>
	  {% endfor %}
    </div>

	<section class="max-w-7xl mx-auto p-6 bg-white rounded-lg shadow-lg">
		<h1 class="text-3xl font-bold mb-6 text-gray-800">Some of Booking.com!</h1>
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
			{% if booking_data %}
			<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md">
				<div class="p-5">
					<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{ booking_data.review_score_word }}</h5>
					<p class="mb-3 font-normal text-gray-700">{{ booking_data.city_in_trans }}</p>
					<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{ booking_data.city }}</h5>
					<p class="mb-3 font-normal text-gray-700">{{ booking_data.unit_configuration_label }}</p>
					<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{ booking_data.hotel_name_trans }}</h5>
					<p class="mb-3 font-normal text-gray-700">{{ booking_data.min_total_price }}</p>
					<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{ booking_data.hotel_name }}</h5>
					<image class="mb-3 font-normal text-gray-700">{{ booking_data.image.main_photo_url }}</image>
					
					<a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300">
						Read more
						<svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20">
							<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1.707-11.293a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L9.414 10l2.293-2.293z" clip-rule="evenodd"></path>
						</svg>
					</a>
				</div>
			</div>
			{% else %}
                <div class="p-5">
                    <h5 class="mb-2 text-xl font-bold tracking-tight text-black"><strong class="text-3xl font-bold text-red-600">X</strong> No available booking data <strong class="text-3xl font-bold text-red-600">X</strong></h5>
                </div>
			{% endif %}
		</div>
	</section>
{% endblock %}